# Entorno
.env
*.local

# Servidor
database/*.sql.bak

# APKs de compilación (pero sí publicar el APK descargable)
*.apk
!assets/downloads/*.apk

# Sistema
.DS_Store
Thumbs.db

# Subidas de usuarios
uploads/perfiles/2026/