Options -Indexes

# Proteger archivos sensibles
<FilesMatch "^\.(env|htaccess|htpasswd)$">
  Require all denied
</FilesMatch>

<FilesMatch "\.(keystore|jks|p12|aab)$">
  Require all denied
</FilesMatch>

# Bloquear acceso a carpetas internas
RewriteEngine On
RewriteRule ^(dist|database|includes|config)/ - [F,L]

# PHP 7.4+ / 8.x
<IfModule mod_rewrite.c>
  RewriteRule ^index\.php$ - [L]
</IfModule>
